@import "scss/variables.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: whitesmoke;

  .navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    min-height: $navbar_height;
    box-shadow: $global_shadow;
    padding-left: $global_padding;
    padding-right: $global_padding;

    .title_bar {
      display: flex;
      flex-direction: row;
      padding: 14px 0;

      .title {
        font-size: 20px;
        i {
          color: $color_hover;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;

        button {
          border: 1px solid $color_lite;
          background: transparent;
          font-size: 12px;
          color: $color_normal;
          border-radius: 3px;
          padding: 5px 10px;
          margin: 2px;
          cursor: pointer;
          outline: none;
          i {
            color: $color_lite;
            transition: color 0.3s;
          }
          transition: border 0.3s, color 0.3s, background 0.3s;

          &:hover {
            border: 1px solid $color_hover;
            color: $color_hover;
            i {
              color: $color_hover;
            }
          }
          &:active {
            border: 1px solid $color_hover;
            background: $color_hover;
            color: white;
            i {
              color: white;
            }
          }
        }
      }
    }
    .menu_bar {
      position: absolute;
      bottom: 0px;
      display: flex;
      flex-direction: row;
      overflow: hidden;

      .menu_item {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 10px 10px 12px 10px;
        color: $color_normal;
        font-size: 15px;
        cursor: pointer;
        transition: color 0.3s;

        &::before {
          content: "";
          position: absolute;
          height: 0px;
          background: transparent;
          width: 100%;
          left: 0px;
          bottom: 0px;
          transition: background .3s, height .3s;
        }

        b {
          color: $color_lite;
          transition: color 0.3s;
          margin-left: 5px;
        }

        i {
          display: none;
        }

        &:hover {
          color: $color_hover;
          outline: none;
          b {
            color: $color_hover;
          }
        }

        &.active {
          outline: none;
          &::before {
            content: "";
            position: absolute;
            height: 3px;
            background: $color_hover;
            width: 100%;
            left: 0px;
            bottom: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .dashboard {
    .navbar {
      .title_bar {
        .buttons {
          button {
            span {
              display: none;
            }
            i {
              color: $color_normal;
            }
          }
        }
      }
      .menu_bar {
        .menu_item {
          span {
            display: none;
          }
          i {
            display: block;
          }
        }
      }
    }
  }
}
